<a href="https://colab.research.google.com/github/Untick/Usedesk/blob/Khalajyan-Elizabeth-branch/Khalajyan%20Elizabeth/%D0%A1%D1%82%D0%B0%D0%B6%D0%B8%D1%80%D0%BE%D0%B2%D0%BA%D0%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Подгрузка датасета

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [8]:
data = pd.read_csv('/content/Копия Витрина_Юздеск_2.xlsx - V1.csv', index_col=0)
data.head()

,comp_id_new,месяц_desc,дата,рейтинг,всего,есть ответ,выполнен,закрыт,nps,email,...,u-task,u_problem,u_incident,u_low,u_medium,u_urgent,u_extreme,licens,бз,бз_ст
#NAME?,,,,,,,,,,,,,,,,,,,,,
#NAME?,1,1,6/1/2023,2,3709,3442,578,2466,1231,1317,...,0,0,0,0,2,0,0,13,1,4
#NAME?,1,2,5/1/2023,2,5573,5301,36,4715,2004,2008,...,0,0,0,0,5,0,0,13,1,4
#NAME?,1,3,4/1/2023,2,6138,5983,4,5496,2242,1991,...,0,0,0,0,1,0,0,13,1,4
#NAME?,1,4,3/1/2023,2,7834,7664,1,7094,2851,2519,...,0,0,0,0,6,0,0,13,1,4
#NAME?,1,5,2/1/2023,2,7344,7252,1,6657,2686,2377,...,0,0,0,0,2,0,0,13,1,4

# Исследования

In [9]:
data.shape #количество строк и столбцов

(11779, 54)

In [10]:
data.size #количество элементов в таблице

636066

In [12]:
data.info #информация

<bound method DataFrame.info of         comp_id_new  месяц_desc      дата  рейтинг  всего  есть ответ  \
#NAME?
#NAME?            1           1  6/1/2023        2   3709        3442
#NAME?            1           2  5/1/2023        2   5573        5301
#NAME?            1           3  4/1/2023        2   6138        5983
#NAME?            1           4  3/1/2023        2   7834        7664
#NAME?            1           5  2/1/2023        2   7344        7252
...             ...         ...       ...      ...    ...         ...
#NAME?          465           1  5/1/2023        1     11          11
#NAME?          466           1  6/1/2023        1     88          12
#NAME?          466           2  5/1/2023        1      7           7
#NAME?          467           1  6/1/2023        1     57          55
#NAME?          468           1  6/1/2023        1    121          91

        выполнен  закрыт   nps  email  ...  u-task  u_problem  u_incident  \
#NAME?                                 ...
#NAME?       578    2466  1231   1317  ...       0          0           0
#NAME?        36    4715  2004   2008  ...       0          0           0
#NAME?         4    5496  2242   1991  ...       0          0           0
#NAME?         1    7094  2851   2519  ...       0          0           0
#NAME?         1    6657  2686   2377  ...       0          0           0
...          ...     ...   ...    ...  ...     ...        ...         ...
#NAME?         0       0     0     10  ...       0          0           0
#NAME?         0      84     0      3  ...       0          0           0
#NAME?         0       0     0      7  ...       0          0           0
#NAME?         0      25     1     10  ...       0          0           0
#NAME?         3     100     0     10  ...       0          0           0

        u_low  u_medium  u_urgent  u_extreme  licens  бз  бз_ст
#NAME?
#NAME?      0         2         0          0      13   1      4
#NAME?      0         5         0          0      13   1      4
#NAME?      0         1         0          0      13   1      4
#NAME?      0         6         0          0      13   1      4
#NAME?      0         2         0          0      13   1      4
...       ...       ...       ...        ...     ...  ..    ...
#NAME?      0         0         0          0      10   0      0
#NAME?      0         2         0          0       9   0      0
#NAME?      0         0         0          0       9   0      0
#NAME?      0         2         0          0       3   1      1
#NAME?      0         0         0          0       7   0      0

[11779 rows x 54 columns]>